@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Montserrat:wght@400;600&family=Sarala:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 2px solid white;
    /* creates padding around scroll thumb */
}

.background {
    background-image: url("./assets/wooden-background.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;


}

.header {
    /*background-image: url("./assets/Imagem\ 4.jpg");*/
    /*background-color: #ff9c00;*/
    background-size: cover;
    padding: 0;
    width: 100%;
}

.logo1 {
    width: 200px;
    padding: 10px 0;
    margin: 0;
    border: 0;
}

.header img {
    transition: all 0.8s;
}

.header img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}


.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textos a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

ul {
    display: flex;
    width: 600px;
    justify-content: space-between;
    list-style: none;
}

.textos li {
    display: flex;
    margin: 2px 15px;
    color: #FFFFFF;
    align-items: center;
    transition: 0.6s;
    position: relative;
}

.textos li::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #9F1D35;
    position: absolute;
    bottom: -3px;
    left: 0px;
    transition: 0.5s;
    border-radius: 2px;

}

.textos li:hover::after {
    width: 100%;
}


li {
    color: white;
}




.banner {
    padding: 100px 0;

}

.banner .containerB {
    height: 350px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}


.banner p {
    padding-left: 40px;
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 300;

}


.banner b {
    color: #e3b062;
    text-shadow: -3px 1px 10px black;
    font-weight: 700;
}


.social {
    background-image: url("./assets/Imagem\ 4.jpg");
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
}

.containers {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}

.texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.texto p {
    text-indent: 20px;
    width: 700px;
    font-size: 20px;
    text-align: justify;
}


.texto h2 {
    width: auto;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid white;
    font-size: 40px;
    font-weight: 700;
}



.footer {
    background-image: url("./assets/Imagem\ 4.jpg");
    width: 100%;
    padding: 10px 10px;
    height: 110px;
    display: flex;
    align-items: center;
    

}

.containerd {
    margin: 0 auto;
    padding: 5px 5px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}

.containerd img {
    width: 150px;
}

.downbar ul {
    display: flex;
    width: 750px;
    justify-content: space-between;
    flex-direction: row;
}

